<div class="steps clover-h1 white">
    <div class="container">
      <br>
      <h2 class="text-center"> {{ "StepsTitle" | translate }}</h2>
      <h5 class="text-center clover-h5">{{ "Steps" | translate }}</h5>
      <br>
      <div class="row">
        <div class="col-lg-4 text-center">
          <i class="fa-solid fa-mobile fa-3x"></i>
          <h5 class="clover-h5" >{{ "StepsSubTitle1" | translate }}</h5>
          <p class="clover-p">
            {{ "StepsText1" | translate }}
          </p>
        </div>
        <div class="col-lg-4 text-center">
            <i class="fa-solid fa-house fa-3x"></i>
            <h5 class="clover-h5">{{ "StepsSubTitle2" | translate }}</h5>
          <p class="clover-p">
            {{ "StepsText2" | translate }}
          </p>
        </div>
        <div class="col-lg-4 text-center">
          <div class="steps-card">
              <i class="fa-solid fa-square-poll-vertical fa-3x"></i>
              <h5 class="clover-h5">{{ "StepsSubTitle3" | translate }}</h5>
              <p class="clover-p">
                {{ "StepsText3" | translate }}
              </p>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
