<div class="container">
    <div class="pricing ">
        <h1 class="h1-title dark-green">{{ "PricingTitle" | translate }}</h1>
        <div class="text-center">
            
            <hr>
            <br>
            <h5 class="clover-h5 dark-green text-center ">{{ "PricingSubTitle" | translate }}</h5>
            <ul>
                <li>- {{ "PricingL1" | translate }}</li>
                <li>- {{ "PricingL2" | translate }}</li>
                <li>- {{ "PricingL3" | translate }}</li>
                <li>- {{ "PricingL4" | translate }}</li>
                <li>- {{ "PricingL5" | translate }}</li>
            </ul>
            <button type="button" class="btn box-center zoom clover-button" [routerLink]="['/contact']">{{
                "buttonGetStarted" | translate }}</button>
            <br>
            <br>
            <p>{{ "PricingP" | translate }}</p>

        </div>
    </div>
</div>