<div class="container">
    <div class="privacy ">
        <h1 class="h1-title dark-green">{{ "PrivacyPolicy" | translate }}</h1>
        <hr>
        <br>
        <p>{{ "PrivacyP1" | translate }}
        </p>
        <br>
        <h5 class="clover-h5 dark-green text-center">{{ "PrivacySubTtile" | translate }}</h5>
        <br>
        <p>{{ "PrivacyP2" | translate}}
        </p>
        <h5 class="clover-h5 dark-green text-center">{{ "PrivacySubTtile3" | translate }}</h5>
        <br>
        <p>{{ "PrivacyP5" | translate}}
        </p>
        <h5 class="clover-h5 dark-green text-center">{{ "PrivacySubTtile1" | translate }}</h5>
        <br>
        <p>{{ "PrivacyP3" | translate }}
        </p>
        <br>
        <h5 class="clover-h5 dark-green text-center">{{ "PrivacySubTtile2" | translate }}</h5>
        <br>
        <p>
            {{ "PrivacyP4" | translate }}
        </p>
    </div>
</div>