<div class="container">
    <div class="partner">
        <h1 class="h1-title dark-green">{{ "About" | translate}}</h1>
        <hr>
        <br>
        <h3 class="clover-h3  text-center">Clover Credit SOLUTIONS</h3>
      <p class="clover-p "> <span class="clover-span"> {{ "Mission" | translate }}:</span> {{ "MissionP" | translate }}
      </p>
      <p class="clover-p "><span class="clover-span">{{ "Vision" | translate }}:</span> {{ "VisionP" | translate }}</p>
      <p class="clover-p "><span class="clover-span"> {{ "Objective" | translate }}:</span> {{ "ObjectiveP" | translate }}</p>
      <p class="clover-p ">{{ "AboutP1" | translate}}</p>
      <p class="clover-p ">{{ "AboutP2" | translate }}</p>
      <p class="clover-p ">{{ "AboutP3" | translate }}</p>
      <p class="clover-p ">{{ "AboutP4" | translate }}</p>
      <p class="clover-p ">{{ "AboutP5" | translate }}</p>
      <p class="clover-p ">{{ "AboutP6" | translate }}</p>
      <p class="clover-p ">{{ "AboutP7" | translate }}</p>
      <p class="clover-p ">{{ "AboutP8" | translate }}</p>
      <p class="clover-p ">{{ "AboutP9" | translate }}</p>
    



    </div>
</div>