<div class="container">
    <div class="partner">
        <h1 class="h1-title dark-green">{{ "PartnerTitle" | translate}}</h1>
        <hr>
        <br>

        <h5 class="clover-h5 dark-green">{{ "PartnerSubtitle" | translate}}</h5>

         <br>
         <p>{{ "PartnerP" | translate}}  <a class="dark-green" href="https://www.customerstatusportal.com" target="_blank">Customer status portal</a></p>
            
         <ul>
            <li><i class="fas fa-check my-color"></i> {{ "PartnerL1" | translate }}</li>
            <li><i class="fas fa-check my-color"></i> {{ "PartnerL2" | translate }}</li>
            <li><i class="fas fa-check my-color"></i> {{ "PartnerL3" | translate }}</li>
            <li><i class="fas fa-check my-color"></i> {{ "PartnerL4" | translate }}</li>
            <li><i class="fas fa-check my-color"></i> {{ "PartnerL5" | translate }}</li>
            <li><i class="fas fa-check my-color"></i> {{ "PartnerL6" | translate }}</li>
         </ul>   
    </div>
</div>