<div class="container">
    <div class="services">
        <h1 class="h1-title dark-green">{{ "ServicesTitle" | translate }}</h1>
        <hr>
        <br>
        <h5 class="clover-h5 text-center dark-green">​{{ "ServicesSubtitle1" | translate}}</h5>

        <p class="clover-p">{{ "ServicesP1" | translate }}</p>

        <ul>
            <li><i class="fas fa-check my-color"></i> {{ "ServicesL1" | translate }}</li>
            <li><i class="fas fa-check my-color"></i> {{ "ServicesL2" | translate }}</li>
            <li><i class="fas fa-check my-color"></i> {{ "ServicesL3" | translate }}</li>
            <li><i class="fas fa-check my-color"></i> {{ "ServicesL4" | translate }}</li>
            <li><i class="fas fa-check my-color"></i> {{ "ServicesL5" | translate }}</li>
            <li><i class="fas fa-check my-color"></i> {{ "ServicesL6" | translate }}</li>
            <li><i class="fas fa-check my-color"></i> {{ "ServicesL7" | translate }}</li>
        </ul>

        <h5 class="clover-h5 text-center dark-green">{{ "ServicesSubtitle2" | translate }}</h5>
        <p class="clover-p">{{ "ServicesP2" | translate }}
        </p>
        <h5 class="dark-green ">
            {{ "ServicesA1" | translate }}
        </h5>
        <ul>
            <li>{{ "ServicesScore1" | translate }}</li>
        </ul>

        <h5 class="dark-green">{{ "ServicesA2" | translate }}</h5>
        <ul>
            <li> {{ "ServicesScore2" | translate }}</li>
            <li> {{ "ServicesScore3" | translate }}</li>
            <li> {{ "ServicesScore4" | translate }}</li>
            <li> {{ "ServicesScore5" | translate }}</li>
        </ul>

        <h5 class="dark-green">{{ "ServicesA3" | translate }}</h5>
        <ul>
            <li> {{ "ServicesScore6" | translate }}</li>
            <li> {{ "ServicesScore7" | translate }}</li>
            <li> {{ "ServicesScore8" | translate }}</li>
            <li> {{ "ServicesScore9" | translate }}</li>
        </ul>

        <h5 class="dark-green">{{ "ServicesA4" | translate }}</h5>
        <p class="clover-p">{{ "ServicesP3" | translate }}</p>
        <ul>
            <li>{{ "ServicesScore10" | translate }}</li>
            <li>{{ "ServicesScore11" | translate }}</li>
            <li>{{ "ServicesScore12" | translate }}</li>
            <li>{{ "ServicesScore13" | translate }}</li>
            <li>{{ "ServicesScore14" | translate }}</li>
            <li>{{ "ServicesScore15" | translate }}</li>
        </ul>
        <p class="clover-p">{{ "ServicesP4" | translate }}</p>
    </div>

</div>