<footer >
  <div class="container text-center">
    <div class="row ">
      <div class="col-lg-4 clover-p white">
        <ul>
          <li [routerLinkActive]="['link-active']"> <a href="/FAQ"> FAQ</a> </li>
          <li [routerLinkActive]="['link-active']"><a href="/terms-and-conditions">{{ "TerCFooter" | translate }}</a> </li>
        </ul>
      </div>
      <div class="col-lg-4 clover-p white">
        <ul>
          <li>Clover Credit Solutions 2023</li>
          <li> &copy; {{ "AllRigthsFooter" | translate }}</li>
          <li [routerLinkActive]="['link-active']">{{ "IWSP" | translate }} <a href="https://iwsplus.com" target="_blank" class="">IWS+</a></li>
        </ul>
      </div>
      <div class="col-lg-4 clover-p white">
        <ul>
          <li [routerLinkActive]="['link-active']"><a href="/privacy-policy">{{ "PrivacyFotter" | translate }}</a></li>
          <li [routerLinkActive]="['link-active']"><a href="/contact" >{{ "ContacFooter" | translate }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
