<div class="container">
    <div class="tac">
        <h1 class="h1-title dark-green">{{ "TerConditionsTitle" | translate }}</h1>
        <hr>
        <br>
        <h5 class="dark-green ">{{ "TerConditionP" | translate }}</h5>
        <ul>
            <li>1. {{ "TerConditionL1" | translate }}</li>
            <li>2. {{ "TerConditionL2" | translate }}</li>
            <li>3. {{ "TerConditionL3" | translate }}</li>
            <li>4. {{ "TerConditionL4" | translate }}</li>
        </ul>
        <br>
        <h5 class="clover-h5 dark-green text-center">{{ "TerConditionSubT" | translate }}</h5>
        <br>
        <ul>
            <li>- {{ "TerConditionL5" | translate }}</li>
            <li>- {{ "TerConditionL6" | translate }}</li>
            <li>- {{ "TerConditionL7" | translate }}</li>
            <li>- {{ "TerConditionL8" | translate }} </li>
        </ul>
        <p>{{ "TerConditionP1" | translate }}
        </p>
        <br>
        <p>{{ "TerConditionP2" | translate }} </p>
        <br>
    </div>
</div>