<div class="container">
    <div class="FAQ ">
        <h1 class="h1-title dark-green">{{ "FaqTitle" | translate }}</h1>
        <hr>
        <br>

        <h5 class="clover-h5 dark-green text-center">{{ "FaqSubTitle1" | translate }}</h5>
        <p>{{ "FaqP1" | translate }}</p>

        <br>

        <h5 class="clover-h5 dark-green text-center">{{ "FaqSubTitle2" | translate }}</h5>
        <p>{{ "FaqP2" | translate }}</p>
        <br>
        <h5 class="clover-h5 dark-green text-center">{{ "FaqSubTitle3" | translate }}</h5>
        <p>{{ "FaqP3" | translate }}</p>
        <br>

        <h5 class="clover-h5 dark-green text-center">{{ "FaqSubTitle4" | translate }}</h5>
        <p>{{ "FaqP4" | translate }}</p>
        <ul>
            <li>- {{ "FaqL1" | translate }}</li>
            <li>- {{ "FaqL2" | translate }}</li>
            <li>- {{ "FaqL3" | translate }}</li>
            <li>- {{ "FaqL4" | translate }}</li>
            <li>- {{ "FaqL5" | translate }}</li>
            <p>{{ "FaqNoti" | translate }}</p>
        </ul>
        <br>

        <h5 class="clover-h5 dark-green text-center">{{ "FaqSubTitle5" | translate }}</h5>
        <p>{{ "FaqP5" | translate }}</p>
        <br>

        <h5 class="clover-h5 dark-green text-center">{{ "FaqSubtitle6" | translate }}</h5>
        <p>{{ "FaqP6" | translate }}</p>
        <br>

        <h5 class="clover-h5 dark-green text-center">{{ "FaqSubtitle7" | translate }}</h5>
        <p>{{ "FaqP7" | translate }}</p>
        <br>

        <h5 class="clover-h5 dark-green text-center">{{ "FaqSubtitle8" | translate }}</h5>
        <p>{{ "FaqP8" | translate }}</p>
        <br>

    </div>
</div>